.cnv__container {
   display: flex;
   width: 1100px;
   height: 812px;
   border: 2px solid var(--bg-btn-color);
   background: url(../../assets/images/maps/tiles_block.png);
   border-radius: 5px;
}

.cnv__info {
   height: 100%;
   width: 135px;
   padding-left: 2px;
   background: url(../../assets/images/maps/info_block.png) no-repeat center;
   background-size: 97% 97%;
}
