@media screen and (max-width: 1000px) {
   .cnv {
      width: 475px;
      height: var(--height-cnv-mobile);
      background: url(../../assets/images/maps/tiles_block_mobile.png);
      z-index: 2;
      border: 1px solid var(--bg-btn-color);
      box-shadow:
         2px 2px 2px rgba(0, 1, 6, 0.5) inset,
         1px 1px rgba(0, 1, 6, 0.5);
   }

   .cnv__info {
      background: url(../../assets/images/maps/info_block_mobile.png) no-repeat
         center;
      padding-left: 2px;
      padding-top: 60px;
      gap: 10px;
   }

   .cnv__info-block {
      display: flex;
      align-items: center;
      gap: 2px;
   }

   .cnv__info-text {
      font-size: 8px;
      color: white;
      text-shadow: 3px 3px 5px var(--bg-color);
      letter-spacing: 1px;
   }

   .cnv__info-img {
      transform: rotate(180deg);
      width: 22px;
      height: 22px;
   }
}
