:root {
   --bg-color: #242121;
   --bg-header-color: #ba822c;
   --bg-btn-color: #966925;
   --border-btn-color: black;
   --btn-active-color: #963f25;

   --height-mobile: 352px;
}

@import url(./main.css);
@import url(./header/header.css);
@import url(./header/header_adapt.css);
@import url(./canvas/canvas.css);
@import url(./buttons_manage/buttons_manage.css);
@import url(./editor/editor.css);
@import url(./editor/editor_adapt.css);
@import url(./canvas/canvas_adapt.css);
