@media screen and (max-width: 1000px) {
   .header {
      position: absolute;
      left: 0;
      background-color: transparent;
      width: 100%;
      height: auto;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      border: none;
   }

   .title {
      display: none;
   }

   .nav {
      display: flex;
      justify-content: space-between;
      gap: unset;
      height: auto;
      width: 100%;
   }

   .btn__container {
      height: auto;
      width: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      margin-top: 10px;
   }

   .btn {
      width: 70px;
      color: var(--bg-header-color);
      background-color: transparent;
      border: 2px solid var(--bg-btn-color);
      border-radius: 8px;
   }

   .btn__editor {
      margin: 10px 27px;
   }

   .btn_start_active {
      color: var(--btn-active-color);
   }
}
